@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');
@import url('https://cdn.jsdelivr.net/npm/daisyui@2.18.0/dist/full.css');
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-primary: #3d6432;
  --color-secondary: #ffb909;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 640px;
  max-width: 1000px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
}

/* Add the rest of the CSS styles here... */

@media only screen and (max-width: 530px) {
  .container {
    margin: 0 20px;
    max-width: 96%;
    min-width: 96%;
  }
}